@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	body {
		@apply bg-white text-black dark:bg-gray-800 dark:text-white;
	}

	a {
		@apply text-blue-700 underline dark:text-blue-300;
	}

	summary {
		@apply cursor-pointer select-none underline;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	p + p {
		@apply mt-1.5;
	}

	button:disabled {
		@apply cursor-not-allowed opacity-70;
	}

	.button-default {
		@apply rounded border border-gray-600 px-2 py-2 dark:border-gray-300 xl:py-0;
	}

	.animate-attention {
		@apply animate-attention-light dark:animate-attention-dark;
	}

	.border-default {
		@apply border border-gray-300 dark:border-gray-600;
	}

	.coin-float {
		@apply float-left flex h-full items-end;
		shape-outside: inset(calc(100% - 16px) 0 0);
	}

	.coin {
		@apply flex h-4 w-4 items-center justify-center rounded border border-black bg-yellow-300 text-xs font-normal text-black xl:h-5 xl:w-5 xl:rounded-full xl:font-bold;
	}
}
